<div class="resume-container">
  <div class="loader-overlay" *ngIf="loading">
    <p-progressSpinner strokeWidth="2" fill="transparent"></p-progressSpinner>
  </div>

  <div class="top">
    <img src="assets/icons/fi_arrow-left.svg" alt="" (click)="goBack()" />
    <p>
      <span class="home-text">Home</span> <span class="back-slash">/</span>
      <span class="page-name">Upload resume</span>
    </p>
  </div>
  <div class="left"></div>

  <div class="card main-card bg-dark text-white">
    <h4 class="header">Upload Resume</h4>

    <div class="card-body row">
      <!-- Left Box -->
      <div class="col-md-6 col-sm-12 left-box">
        <div class="input-fild row">
          <div class="col-md-6 col-sm-12">
            <label for="jobid">
              Job <small class="text-danger">*</small>
            </label>

            <form [formGroup]="formGroup">
              <p-autocomplete #ac formControlName="selectedJob" [suggestions]="filteredJobs"
                (completeMethod)="filterJob($event)" (onDropdownClick)="onJobDropdownClick()" field="title"
                [dropdown]="true" [minLength]="0" appendTo="body" [emptyMessage]="''">
                <ng-template let-job pTemplate="item">
                  <div>
                    <div><strong>{{ job.id }} - {{ job.title }}</strong></div>
                  </div>
                </ng-template>
              </p-autocomplete>
            </form>


            <small *ngIf="showJobIdError" class="text-danger">
              Job ID is required
            </small>
          </div>

          <div class="col-md-6 col-sm-12">
            <label for="username">Hiring Manager <small class="text-danger">*</small></label>
            <input type="text" class="w-100" pInputText readonly [disabled]="true" [(ngModel)]="hiringManager" />
          </div>
        </div>
        <!-- Upload Area -->
        <div class="upload-area">
          <div class="file-drop-zone" [class.drag-over]="isDragOver" (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
            <input type="file" id="fileUpload" (change)="onFileSelected($event)" accept=".pdf,.docx,.doc" multiple
              hidden />
            <label for="fileUpload" class="upload-label">
              <img src="assets/icons/upload-cloud.svg" alt="" class="mx-auto" />
              <p class="btn-drop">Drop file or browse</p>
              <p class="file-size">
                <small>Format: .pdf and .docx | Max file size: 25 MB</small>
              </p>
              <div class="btn btn-outline-secondary btn-select mt-2">
                Browse Files
              </div>
            </label>
          </div>
          <small *ngIf="showUploadError" class="text-danger">
            Please upload at least one CV
          </small>
          <p class="multiple-msg">
            <small>Maximum 5 files can be uploaded</small>
          </p>
        </div>
      </div>

      <!-- Right Box -->
      <div class="col-md-6 col-sm-12 h-100 right-box">
        <p class="sub-header">Uploaded Resume</p>

        <!-- No File Selected Section -->
        <div *ngIf="uploadedFiles.length === 0"
          class="no-file-select d-flex flex-column align-items-center justify-content-center">
          <img src="assets/icons/No Results.svg" alt="No Files" />
          <p class="nofile-msg">Upload resumes to preview the document</p>
        </div>

        <!-- File Preview Section -->
        <div *ngIf="uploadedFiles.length > 0" class="file-preview">
          <ul class="list-group">
            <li *ngFor="let file of uploadedFiles" class="mb-2">
              <div class="list-group-item bg-dark text-white d-flex justify-content-between align-items-center cvs">
                <div class="img-fild d-flex align-items-center w-75">
                  <img src="assets/icons/group.svg" alt="File Icon" />
                  <p class="file-name ps-2">{{ file.name }}</p>
                </div>

                <div class="actions d-flex align-items-center gap-2">
                  <img src="assets/icons/eye.svg" alt="view" (click)="previewFile(file)" />
                  <img src="assets/icons/rating.svg" alt="delete" (click)="removeFile(file)" />
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="button d-flex justify-content-end">
      <button type="submit" class="btn save-btn bg-yellow" (click)="saveCVs()">
        Save
      </button>
    </div>
  </div>
  <div class="right"></div>
  <div class="bottom"></div>
</div>
<p-toast></p-toast>