<div class="container">
  <div
    *ngIf="isLoading"
    class="d-flex justify-content-center align-items-center h-100"
  >
    <p-progress-spinner strokeWidth="2" fill="transparent" />
  </div>
  <div *ngIf="!isLoading" class="h-100">
    <div class="header">
      <h1>Resume Repository</h1>
      <div class="add-button" (click)="addResume()">
        <img class="add-icon" src="assets/icons/+.svg" alt="add" />
      </div>
    </div>

    <div class="job-container">
      <div class="job-list">
        <div
          *ngFor="let job of jobs"
          class="job-item"
          [ngClass]="{ active: job.active }"
          (click)="setActiveJob(job)"
        >
          <h3>Job ID: #{{ job.JobId }}</h3>
          <h2>{{ getJobTitle(job.JD) }}</h2>
          <p>
            <img src="assets/icons/user-resumes.svg" alt="user" />
            {{ job.HMEmailId }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
